@use "@/styles/colors" as *;
@use "@/styles/typography" as *;
@use "@/styles/spacing" as *;
@use "@/styles/media-mixins" as *;

.poweredBy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-48;
  flex-wrap: wrap;

  @include mobile {
    gap: $spacing-24;
  }

  a {
    color: $color-text-secondary;
    text-decoration: none;
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    gap: $spacing-8;

    &:hover {
      color: $color-text-primary;
    }
  }
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
