@use "@/styles/colors" as *;
@use "@/styles/spacing" as *;
@use "@/styles/typography" as *;

.message {
  font-size: $font-size-sm;
  color: $color-text-primary;
  line-height: 1.5;
  margin: 0 0 $spacing-24;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-8;
}

.dangerBtn {
  background: $color-error;

  &:hover {
    box-shadow: 0 8px 30px alpha($color-error, 30%);
  }
}
